@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');


/* 
# --------------------
# Main HTML body 
# -------------------- 
*/

body {
    /* font-family: "Lato", sans-serif; */
    font-family: 'Merriweather', Georgia, serif;
    color: #333;
    line-height: 1.6;
    transition: margin-left .5s;
    margin: 0px;
    padding: 0px;
    min-width: var(--content-min-width);
}

h1, h2, h3, h4 {
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

a {
    color: var(--sidebar-purple);
}

a:hover {
    color: var(--hnn-purple);
  }

#main {
    transition: margin-left 0.5s;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo-wrapper {
    width: 100%;
    max-width: 300px;
    padding: 0 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; /* centers horizontally */
}

#logo-wrapper p {
    font-family: 'PT Sans Narrow', sans-serif !important;
    font-size: 22.5px !important;
    font-weight: normal !important;
    margin: 5px 0px !important;
}

#logo-subtitle p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !important;
    font-weight: normal !important;
    text-align: center !important;
    color: #636363 !important;
    font-size: 23px !important;
    line-height: 1.2 !important;
    margin: 15px !important;
}

#content-wrapper {
    width: 100%;
    max-width: var(--content-max-width);
    padding: 0px 0px;
    box-sizing: border-box;
    /* margin: 0 auto; */
    margin-top: 70px;
}

#content {
    padding: 10px 0px;
    width: 100%;
    font-size: 20px;

}

#content p {
    font-family: 'Merriweather', Georgia, serif;
    display: block;
    color: #333;
    font-size: inherit;
    padding: 0px;
    line-height: 1.6;
    overflow-wrap: break-word; 
    word-wrap: break-word;
    white-space: normal;
}

#content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Inline code (single backtick) */
code {
    color: var(--sidebar-purple);
    background-color: #f6f8fa;
    display: inline;
    padding: 0.2em 0.4em;
    border-radius: 6px;
    font-size: 85%;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace; 
    font-weight: normal;
    border: 1px solid #e1e4e8;
  }
  
  /* Block code (triple backticks) */
  pre code {
    color: #24292e;
    background-color: #f6f8fa;
    display: block;
    padding: 16px;
    overflow-x: auto;
    border-radius: 6px;
    font-size: 85%;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    border: 1px solid #e1e4e8; /* Consistent border style */
  }


/* 
# --------------------
# Topbar
# -------------------- 
*/

.topbar {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    background-color: #fff;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 0px;
    width: 100%;
    min-width: var(--content-min-width);
    flex-direction: column;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Subtle drop shadow */
    position: fixed;
    z-index: 9999;
}

#topbar-wrapper {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Push links to left and dropdown/socials to right */
    padding: 0 20px;
    width: 100%;
    max-width: 95%;
    min-width: var(--content-min-width);
    box-sizing: border-box;
}

.links {
    display: flex;
    align-items: center;
}

/* Left links (Install, Tutorials, etc.) */
.links a {
    color: grey;
    font-size: 18px;
    padding: 0px 10px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;

}

.links a:hover {
    color: var(--sidebar-purple);
    /* transition: transform 0.3s ease;
    transform: scale(1.05); */
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 3px;
}

.home-link {
    display: inline-flex;
    text-decoration: none;
    height: inherit;
    padding: 0px;
    align-items: center;
}

.home-icon-container {
    height: inherit;
    align-items: center;
    position: relative;
    display: inline-flex;
    justify-content: center;

}

.home-icon {
    fill: grey;
    height: 22px;
    width: auto;
    transition: transform 0.3s ease;
}

.home-icon:hover {
    /* transform: scale(1.05); */
    fill: var(--sidebar-purple);
}

/* add underline to home icon */
.home-icon-container:hover::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -9px; /* matches text-underline-offset: 10px */
    height: 3px;
    background-color: var(--sidebar-purple);
}

/* Right section for dropdown and social icons */
.topbar-right {
    display: flex;
    align-items: center;
    gap: 15px; /* Space between dropdown and social icons */
    margin-right: 10px;
    padding-left: 30px;
}

/* Dropdown styles */
.dropdown {
    height: inherit;
    align-items: center;
    position: relative;
    display: inline-flex;
    font-size: 18px;
    cursor: pointer;
    background: none;
    color: grey;
}

.dropdown-button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0px 10px;
    border: 3px solid #fff;
}

.dropdown-button:hover {
    border: 3px solid var(--sidebar-purple);
    border-radius: 6px;
}

.dropdown-text {
    display: inline-block;
    position: relative;
    white-space: nowrap;
}

.caret {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-left: 2px solid grey;
    border-bottom: 2px solid grey;
    transform: rotate(-45deg);
    margin-left: 6px;
    position: relative;
    bottom: 3px;
}

.dropdown-button:hover .caret {
    border-color: var(--sidebar-purple); 
}

/* box shadow in case below simulates underline text decoration */
.dropdown-button:hover .dropdown-text {
    color: var(--sidebar-purple);
    /* box-shadow: 0 3px 0 var(--sidebar-purple); */
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 125%;
    right: 0;
    background-color: #f9f9f9;
    width: auto;
    border: 2px solid var(--lighter-gray);
    border-radius: 6px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    white-space: nowrap; 
}

.dropdown-content a {
    color: inherit;
    font-size: inherit;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: var(--sidebar-purple);  
    text-decoration: underline;
    text-underline-offset: 10px; 
    text-decoration-thickness: 3px;
    transform: scale(1.02);
}


/* make more button show on hover /*
/* .dropdown:hover .dropdown-content {
    display: block;
} */

/* Social icons styles */
.social-icons {
    display: flex;
    gap: 20px;
    padding: 0px;
}

.social-icons a {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: transform 0.2s ease; /* zoom transition */
}

.social-icons a img {
    width: auto;
    height: 24px;
    object-fit: contain;
    display: block;
}

.social-icons a:hover {
    transform: scale(1.1); /* zoom on hover */
}

/* 
# --------------------
# Gallery 
# -------------------- 
*/

/* Gallery Container */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between cards */
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto; /* Center gallery */
    padding: 20px 0px; /* Optional padding */
}
  
/* Card */
.card {
    position: relative;
    border-radius: 10px; 
    /* round corners */
    width: calc(33.333% - 20px); 
    /* three cards per row with spacing */
    max-width: 300px;
    height: 180px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* hides content (e.g., background) outside of card */
    transition: transform 0.2s ease-in-out;
}
  
.card:hover {
    transform: scale(1.05); /* Subtle zoom on hover */
}
  
/* Image as Background */
.card .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover; /* preserve aspect ratio of img */
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
    z-index: 1;
}
  
/* Overlay - Text Visible by Default */
.overlay {
    position: relative;
    z-index: 2;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: flex-start; */
    width: 100%;
    height: 100%;
    padding: 15px;
    background: rgba(255, 255, 255, 0.9);
    text-align: left;
    line-height: 1.4;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    box-sizing: border-box; 
    /* border-box to include padding in the dimensions */
    display: block;
    overflow: hidden;
    overflow-wrap: break-word; 
}
  
/* Hide Text on Hover */
.card:hover .overlay {
    opacity: 100%; 
    /* visibility: hidden; */
    /* ensure it's not focusable */
}

/* Hover Effect */
.card:hover .image {
    transform: scale(1.2); 
}

.overlay h1 {
    font-family: 'Inter', sans-serif !important;
    color: #636363 !important;
    font-weight: normal;
    font-size: 20px;
    margin: 0;
    line-height: 1.2;
}

.overlay p {
    font-family: 'Inter', sans-serif !important;
    color: #8b8b8b !important;
    font-size: 16px !important;
    margin: 0;

    display: -webkit-box !important;
    -webkit-line-clamp: 4 !important;
            line-clamp: 4 !important;
    -webkit-box-orient: vertical !important; 
}

.overlay h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card a {
    text-decoration: none !important; /* Remove underline from links inside the overlay */
}
  
/* Responsive Adjustments */
@media (max-width: 768px) {
    .card {
        width: calc(50% - 20px); /* Two cards per row on smaller screens */
    }
}

@media (max-width: 576px) {
    .card {
        width: 100%; /* Full width on mobile */
    }
}

/* 
# --------------------
# Card Popups 
# -------------------- 
*/

/* Popup Container */
.popup-container {
    display: flex; /* hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1000;
    align-items: center;
    justify-content: center;

    /* Initial state for transition */
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.3s ease, visibility 0s 0.3s; /* fade out */
}

.popup-container.show {
    opacity: 1; 
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s 0s; /* fade in */
}

/* Popup Box */
.popup-box {
    /* border-box => width/height includes content area, padding, borders */
    box-sizing: border-box; 
    margin-top: 90px;
    margin-bottom: 40px;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: calc(var(--content-max-width) + (var(--content-max-width) * 0.2));
    height: calc(100vh - 110px);
    /* height: 100%; */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: center;
    overflow-y: auto; /* add scrolling */
}

.popup-box h2 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: 400 !important;
}

.popup-box p {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    text-align: justify !important;
    font-size: 20px !important;
    padding-left: 100px !important;
    padding-right: 100px !important;
    padding-bottom: 50px !important;
}

.popup-close-wrapper {
    position: absolute;  /* Position it relative to the popup box */
    top: 20px;
    left: 20px;
    z-index: 1001;
}

/* Close Button */
.popup-close {
    position: fixed;
    background: #ccc;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 18px;
    /* z-index: 2001; */
    cursor: pointer;
}

.popup-close:hover {
    background: #aaa;
}

/* 
# --------------------
# Funders sections
# -------------------- 
*/

#funders p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !important;
    font-weight: 500 !important;
    text-align: center !important;
    color: #000000 !important;
    font-size: 23px !important;
    line-height: 1.2 !important;
    margin: 15px !important;
}

/* Container to center the whole grid horizontally */
.logo-container {
    display: flex;
    justify-content: center; /* Horizontally center the grid */
    padding: 20px; /* Optional padding around the grid */
}

/* Responsive Grid */
.logo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Dynamic columns, no empty space */
    gap: 10px; /* Space between cells */
    max-width: 100%; /* Ensure it doesn't exceed the container width */
    justify-items: center; /* Ensures logos are centered within their cells */
}

/* Logo Cells */
.logo {
    height: 65px; /* Fixed height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    max-height: 100%;
    object-fit: contain; /* Keeps logos proportional */
}

/* 
# --------------------
# Sidebar 
# -------------------- 
*/

.sidebar {
    font-family: "Lato", sans-serif;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #88548c;
    /* overflow-x: hidden; */
    overflow: hidden; 
    transition: 0.3s;
    padding-top: 10px;
}

.sidebar a, p {
    padding: 8px 24px 8px 24px;
    text-decoration: none;
    font-size: 17px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar p {
    margin: 0px;
}

.sidebar a:hover {
    color: var(--hnn-yellow);
}

.sidebar .toggle-icon {
    float: right;
    font-weight: bold;
    transition: transform 0.3s;
}

.submenu {
    display: none; /* hide submenu by default */
    padding-left: 20px; /* indentation for the submenu items */
}

.sidebar-list .submenu {
    display: none;  /* hide submenus by default */
    margin-left: 0px;  /* indentation for submenu items */
}

.sidebar-list .submenu.open {
    display: block;  /* show the submenu when the 'open' class is added */
    transition: max-height 0.3s ease-in-out; /* smooth transition */
}

/*
# --------------------
# Developers Page
# --------------------
*/

.dev-grid {
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 40px;
    justify-content: center;
}

.grid-link {
    text-decoration: none;
    color: #000;
}

.grid-link:hover {
    color: #000;
}

.dev-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    /* width set dynamically by javascript */
}

.dev-card img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    aspect-ratio: 1 / 1;
    object-position: center;
}

.dev-card .name {
    margin-top: 8px;
    font-size: 0.85em;
    white-space: nowrap;
}

.dev-card .position {
    margin-top: 0px;
    font-size: 0.85em;
}

.collaborators {
    text-align: center;
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
}

.dev-grid.inactive .dev-card {
    width: 130px;
}

.dev-grid.additional .dev-card {
    width: 75px;
}

.dev-grid.additional {
    gap: 10px 10px;
}

.dev-grid.inactive .dev-card .name {
    margin-top: 8px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* cursor: text; */
}

.dev-grid .dev-card .position {
    /* margin-top: 8px; */
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* cursor: text; */
}

.collaborators ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.collaborators li {
    margin-bottom: 0px;
    font-size: 0.90em;
}

/* Tooltip styling */
/* --------------- */
/* Note: adapted from sidebar-tooltip in website-redesign */

.name-tooltip {
    will-change: transform;
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
    background: #fff;
    border: 2px solid #ddd;
    color: #000;
    padding: 3px 6px;
    border-radius: 10px;
    font-size: 13px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 9999;
    white-space: nowrap;
}

.name a, .position a{
    color: #000;
    text-decoration: none;
    cursor: text;
}

/* dark mode (placeholder for future addition) */
body.dark-mode .name-tooltip {
    background: #8d8d8d;
    color: #fff;
    border: 2px solid var(--sidebar-purple);
}

/* 
# --------------------
# Mobile Menu 
# -------------------- 
*/

/* Highlighted Additions */
.hamburger {
    display: none;
    font-size: 32px;
    cursor: pointer;
    user-select: none;
    color: grey;
}

.hamburger:hover {
    color: var(--sidebar-purple);
}

.mobile-menu {
    display: none;
    background-color: white;
    border: 2px solid var(--lighter-gray);
    border-radius: 10px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    position: fixed;
    top: 60px !important; /* below the topbar */
    left: 30px;
    width: auto;
    z-index: 9998;
}

.mobile-menu .links {
    display: flex;
    line-height: 2;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    
}

.mobile-menu.show {
    display: flex;
}

/* Keep social icons visible in mobile view */
.mobile-menu .social-icons {
    display: block;
}

.hamburger.menu-open { 
    color: var(--sidebar-purple);
}

/* Responsive toggle */
@media screen and (max-width: 750px) {
    .topbar-right .dropdown,

    #topbar-wrapper > .links {
        display: none;
    }

    .hamburger {
        display: block;
    }

   /* re-enable links inside the mobile menu */
   #mobile-menu .links {
       display: flex;
       flex-direction: column;
   }
}


/* 
# --------------------
# Responsiveness
# -------------------- 
*/

/* @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
} */

/* 
# --------------------
# Variables 
# -------------------- 
*/

:root {
    --content-max-width: 920px;
    --content-min-width: 650px;
}

/* Custom HNN colors */
/* ----------------- */
.hnn-blue { color: #1156A3; }
.hnn-purple { color: #474095; }
.hnn-violet { color: #812A89; }
.hnn-yellow { color: #e5a734; }

:root {
    --hnn-blue: #1156A3;
    --hnn-purple: #474095;
    --hnn-violet: #812A89;
    --hnn-yellow: #e5a734;
    --light-purple: #ba83be;
    --light-gray: #d3d3d3;
    --gentle-red: #ff7777;
    --text-light: #333; 
    --icon-base: #bababa;
    --icon-hover: #444;
    --sidebar-purple: #88548c;
    --sidebar-gray: #313438;
    --content-gray: #14181e;
    --tooltip-gray: #555;
    --lighter-gray: #e1e4e8;
}

/* 
# --------------------
# In Development 
# -------------------- 
*/

/*

# Notes
- Adding <span class="external-icon"></span> to the links in the .dropdown section currently works as intended. However, the icons cause text-shift in the .links section. I need to tease this apart before we use this more broadly in topbar. 

*/

:root {
    --pst-font-size-icon: .9rem;
    --pst-icon-external-link: "\f35d"; /* fa-solid fa-up-right-from-square */
}

/* .external-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    vertical-align: bottom; 
} */

/* .external-link:hover {
    color: var(--sidebar-purple);
    border-bottom: 3px solid var(--sidebar-purple);
} */

.external-icon {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: var(--pst-font-size-icon);
}

.external-icon::before {
    content: var(--pst-icon-external-link);
}